.text-highlight {
  position: relative;
  color: #fffaf2;
  font-weight: 700; /* Bold font */
  display: inline;
  top: -50px; /* Y positioning, adjust as needed */
  right: 348px; /* X positioning, adjust as needed */
}

.text-highlight::before {
    content: ""; /* Ensure the pseudo-element is generated */
    position: absolute; /* Position absolutely to ensure layering */
    z-index: -1; /* Above the background, but below the text */
    width: 100%; /* Cover the whole text and a bit more */
    left: 0%; /* Center the highlight */
    top: 0; /* Align to the top of the parent */
    height: 1.2em; /* Control the height to match your design */
    background-color: #000000; /* Match the text stroke color */
}

.landing {
    display: flex;
    justify-content: center;
    z-index: 0;
    align-items: center;
    height: 75vh;
    color: #000;
    flex-direction: column;
    position: relative;
    background-color: #fffaf2;
    overflow: hidden;
}

.landing .content {
    max-width: 2000px; /* Adjust to your preference */
    margin: 0 auto;
    text-align: center;
    padding-top: 15vh; /* Adjust based on your actual header size */
    position: relative; /* For absolute positioning inside */
}

/* Position and style the top text */
.top-text {
    font-size: 0.8rem; /* Adjust to match your design */
    position: relative;
    color: #000000; /* A dark grey color, seems not completely black */
    letter-spacing: 5px; /* Increase letter-spacing */
    margin: 50px 0; /* Add some vertical spacing */
    top: -20px; /* Y positioning, adjust as needed */
    right: 345px; /* X positioning, adjust as needed */
}

/* Position and style the bottom text */
.bottom-text {
    font-size: 0.8rem; /* Adjust to match your design */
    position: relative;
    color: #000000; /* A dark grey color, seems not completely black */
    letter-spacing: 5px; /* Increase letter-spacing */
    margin: 50px 0; /* Add some vertical spacing */
    top: -30px; /* Y positioning, adjust as needed */
    right: 325px; /* X positioning, adjust as needed */
}
/* Main title and version tag */
.landing h1 {
    font-size: 6rem; /* Increase the size of the font */
    color: transparent; /* Make the text transparent */
    -webkit-text-stroke: 2px #333; /* Apply stroke to the text */
    margin: 40px 0; /* Adjust the margin to your design */
    position: relative; /* Relative for absolute children */
}

/* Position the version tag next to 'REACH' */
.version-tag {
    background-color: #ff7300; /* The orange color */
    /* Adjust the position to float it to the right of 'REACH' */
    position: absolute;
    top: 0.2em; /* Control the vertical position */
    right: 600px; /* Control the horizontal position */
    width: 60px; /* Control the size */
    height: 60px; /* Control the size */
    border-radius: 50%;
    font-size: 0.9rem; /* Adjust the font size of the version number */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the version number */
.version-number {
    color: #fff; /* White text */
    position: relative;
    top: -2px; /* Adjust the vertical position if needed */
}

/* Style for 'THE AI CONSULTANT.' */
.main-text {
    display: block; /* Block to move it to a new line */
    font-weight: 700; /* Bold font */
    margin-top: -60px; /* Adjust this value to position it correctly under 'REACH' */
    color: #fffaf2; /* Text color */
    position: relative; /* Ensure it's positioned in the stacking context */
}

.main-text::before {
    content: ""; /* Ensure the pseudo-element is generated */
    position: absolute; /* Position absolutely to ensure layering */
    width: 100%; /* Cover the text */
    height: 100%; /* Cover the text */
    background-color: #000000; /* Black background */
    top: 0; /* Align to the top of the parent */
    left: 0; /* Align to the left of the parent */
    z-index: -1; /* Ensure it's behind the text */
}

.reach {
    font-size: 0.8rem;
    position: relative;
    color: #000000; /* A dark grey color, seems not completely black */
    letter-spacing: 5px; /* Increase letter-spacing */
    top: -100px; /* Y positioning, adjust as needed */
    right: -370px; /* X positioning, adjust as needed */
}

body {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    line-height: 1.6;
    background-color: #000000; /* Changed to ensure white space around the container is #fffaf2 */
}

/* Flex container for main content */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; /* Adjust based on your preference */
    margin: auto;
    padding: 20px;
    gap: 20px; /* Space between left and right containers */
}

.left-container, .right-container {
    flex: 1; /* Each container takes equal width */
    background-color: #000000; /* Background color */
    padding: 20px;
    border-radius: 0px;
    color: #fffaf2; /* Text color */
    max-width: 50%; /* Prevent horizontal expansion */
}

/* Adjustments for responsiveness */
/* @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
} */

input, select, #output, #reportContainer {
    background-color: rgba(255,255,255,0.1);
    border: none;
    color: #000000;
    transition: all .3s ease-in-out;
}

input[type="text"], select.form-control {
    background-color: #000000;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
    width: 75%;
}

.btn-primary {
    width: 110px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 0px;
    text-align: center;
}

.d-flex.align-items-center > * {
    margin-right: 25px;
    margin-bottom: 20px;
}

.d-flex.align-items-center > *:last-child {
    margin-right: 0;
    margin-bottom: 20px;
}

.form-group.d-flex.justify-content-between {
    width: 100%; /* Make full width to align with the text input field */
}

.agent_question {
    background-color: #000000;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 40px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to right, #000000, #000000);
    color: white;
    text-align: center;
    padding: 10px 0;
}

.margin-div {
    background-color: #000000;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.agent_response {
    background-color: #000000;
    color: #fffaf2;
    margin: 10px;
    padding: 10px;
    border-radius: 0px;
}

#output {
    background-color: #000000;
    height: 300px;
    overflow: auto;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#reportContainer {
    background-color: #000000;
    border: none;
    color: #fffaf2;
    transition: all .3s ease-in-out;
    padding: 10px;
    border-radius: 0px;
}

#reportContainer table {
    color: #ffffff; /* Sets the text color to white for the table */
}

#reportContainer th, #reportContainer td {
    color: #ffffff; /* Ensures the text in table headers and cells is white */
}

#reportContainer table thead th {
    background-color: #333; /* Optional: sets a darker background for table headers */
}

#reportContainer table tbody tr:nth-child(odd) {
    background-color: #222; /* Optional: adds zebra-striping to table rows */
}

#reportContainer table tbody tr:nth-child(even) {
    background-color: #333; /* Optional: adds zebra-striping to table rows */
}

#downloadLinkPDF, #downloadLinkCSV {
    display: inline-block; /* Ensure they are not set to display: none */
    background-color: #000000; /* Example background color */
    border: 1px solid #FFFFFF;
    color: #ffffff; /* Text color */
    padding: 10px 15px; /* Padding for better visibility */
    text-decoration: none; /* Remove underline from links */
    border-radius: 0px; /* Optional: rounded corners */
    margin-top: 10px; /* Space from other content */
}

#downloadLinkPDF:hover, #downloadLinkCSV:hover {
    background-color: #000000; /* Darker shade on hover for visual feedback */
}

.task-definition {
    display: flex; /* Use flexbox to align items in a row */
    align-items: center; /* Align items vertically in the center */
    margin-right: -20px; /* Add a right margin to create a gap between the task definition and the checkboxes */
}

.checkbox-group {
    display: flex; /* Use flexbox to align checkboxes in a row */
    align-items: center; /* Align items vertically in the center */
    gap: 20px; /* Space between checkboxes */
    justify-content: flex-end; /* Align checkboxes to the right */
    flex-grow: 1; /* Allow the checkbox group to take up the remaining space */
}

.container-for-task-and-checkboxes {
    display: flex; /* Display children (task definition and checkbox group) in a row */
    align-items: center; /* Align children vertically in the center */
    justify-content: space-between; /* Space between children */
    width: 100%; /* Take the full width of the parent container */
    flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
}

.box {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    gap: 10px; /* Adds space between the text and its box */
    font-size: 20px;
}

.box:first-child {
    margin-left: 0; /* Ensures the first box doesn't have extra space on the left */
}

.box input {
    display: none;
}

.box svg {
    overflow: visible;
    margin-right: 20px; /* Adjusted space between text and checkbox when aligned to the right */
}

.path {
    fill: none;
    stroke: white;
    stroke-width: 3;
    stroke-linecap: square;
    stroke-linejoin: square;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.box input:checked ~ svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.4);
}

.modal-content {
    background-color: #000000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}