:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: rgba(255, 255, 255, 0.6);
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: rgba(163, 177, 198, 0.5);
  --greyDark: #9baacf;
}

$shadow: .3rem .3rem .6rem var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white);

* {
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--greyLight-1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body,
#root,
.app,
.scene {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .scene {
  height: 80%;
}

.grid {
  border: solid 1px var(--greyLight-1);
  border-radius: 20px;
  box-shadow: -6px -6px 20px var(--white), 6px 6px 20px var(--greyLight-3);  
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}

.REACH-text-field-3d {
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(-100px);
  margin-top: 20px;
  font-size: 40px;
  color: var(--greyDark);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 45%;
  left: 20%;
  transform-origin: center;
  z-index: 0;
}

.PROVISIONAL-text-field-3d {
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(-100px);
  margin-top: 20px;
  font-size: 20px;
  color: var(--greyDark);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 46.5%;
  left: 23.5%;
  transform-origin: center;
  z-index: 0;
}

.signup-button {
  width: 15rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: $shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  position: absolute;
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(-100px);
  transform-origin: center;
  top: 20%;
  left: 25%;

  &__primary {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: var(--primary);
    box-shadow: inset .2rem .2rem 1rem var(--primary-light), 
                inset -.2rem -.2rem 1rem var(--primary-dark),
                $shadow;
    color: var(--greyLight-1);

    &:hover { color: var(--white); }
    &:active {
      box-shadow: inset .2rem .2rem 1rem var(--primary-dark), 
                  inset -.2rem -.2rem 1rem var(--primary-light);
    }
  }

  &__secondary {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    color: var(--greyDark);
    &:hover { color: var(--primary); }
    &:active {
      box-shadow: $inner-shadow;
    }
  }

  p { 
    font-size: 1.6rem;
  }
}

.signup-form__input {
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(-100px);
  width: 20.4rem;
  height: 4rem;
  border: none;
  border-radius: 1rem;
  font-size: 20px;
  padding-left: 1.4rem;
  box-shadow: $inner-shadow;
  background: none;
  font-family: inherit;
  color: var(--greyDark);
  margin-bottom: 1rem;

  &::placeholder { color: var(--greyLight-3); }
  &:focus { outline: none; box-shadow: $shadow; }
}

.signup-form__input--email {
  position: absolute;
  top: 23px;
  left: 20px;
}

.signup-form__input--password {
  position: absolute;
  top: 18px;
  left: 23px;
}

.row {
  height: 30px;
  width: 600px;
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

button {
  background: transparent;
}

.tile {
  border: none 1px var(--greyLight-2);
  border-radius: 5px;
  border-style: none;
  height: 30px;
  width: 30px;
  pointer-events: auto;
  position: relative;
  cursor: pointer;
  outline: none;
}

.tile:hover {
  background-color: var(--primary);
}

.popup-menu{
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateZ(-100px);
  height: 150px;
  width: 300px;
  z-index: 1000;
  border-radius: 5px;
  background-color: rgba(var(--greyLight-3), 0.8);
}
